<!-- 
Para sincronizar o fomulário com o objeto que o representa
no componente (nesse caso o myForm) utiliza-se a diretiva
formGroup recebendo o nome do objeto formulário criado no 
componente. É possível utilizar essa diretiva como um
property-binding (colocando-a entre colchetes), fazendo isso
toda vez que o objeto myForm for modificado o formulário será
atualizado.

Para ligar o formulário e seus campos com
o atributo de formulário do componentes e seus
atributos relacionados utiliza-se a diretiva 
'formGroup' para realizar o binding do <form>
com o atributo no componente e a diretiva
'formControlName' para ligar os campos do <form>
com os atributos do objeto que representa o
formulário no componente. -->

<form class="form-horizontal" [formGroup]="myForm"
(submit)="submitForm()">

  <div class="form-group row">

    <div class="col-sm-12">
      <label for="name">Nome</label><br>
      <input type="text" formControlName="name" id="name"
      class="form-control" placeholder="Digite o nome"
      [ngClass]="addInvalidValueMessage('name')"
      required>
    
      <app-msg-validation msgText="Nome é obrigatório."
      [showMsg]="verifyInvalidAndTouched('name')">
      </app-msg-validation>    
    </div>

  </div>

  <div class="form-group row">

    <div class="col-sm-12">    
      <label for="email">E-Mail</label><br>
      <input type="email" formControlName="email" id="email" 
      class="form-control" placeholder="nome@mail.com"
      [ngClass]="addInvalidValueMessage('email')"
      required email>

      <app-msg-validation msgText="Email é obrigatório."
      [showMsg]="verifyInvalidAndTouched('email')">
      </app-msg-validation>
      <app-msg-validation msgText="Email Inválido."
      [showMsg]="verifyInvalidEmail()">
      </app-msg-validation>

    </div>

  </div>




  <div formGroupName="adress">
    
    <div class="form-group row">
      
      <div class="col-sm-3">
        <label for="cep">CEP</label><br>
        <input type="text" id="cep"
        formControlName="cep"
        [ngClass]="addInvalidValueMessage('adress.cep')"
        (blur)="fechtAdressByCep()"
        class="form-control" placeholder="xxxxx-xxx">

        <app-msg-validation msgText="CEP é obrigatório."
        [showMsg]="verifyInvalidAndTouched('adress.cep')">
        </app-msg-validation>
      </div>  
  
      <div class="col-sm-3">
        <label for="number">Numero</label><br>
        <input type="number" id="number"
        formControlName="number"
        [ngClass]="addInvalidValueMessage('adress.number')"
        class="form-control" placeholder="0">
  
        <app-msg-validation msgText="Numero é obrigatório."
        [showMsg]="verifyInvalidAndTouched('adress.number')">
        </app-msg-validation>
      </div>
  
      <div class="col-sm-6">
        <label for="compl">Complemento</label><br>
        <input type="text" id="compl"
        formControlName="compl"
        class="form-control" placeholder="Casa A">
      </div>
      
    </div>
  
  
    <div class="form-group row">
      
      <div class="col-sm-12">
        <label for="street">Rua</label><br>
        <input type="text" id="street"
        formControlName="street"
        [ngClass]="addInvalidValueMessage('adress.street')"
        class="form-control" placeholder="Nome da rua"
        required readonly>
      
        <app-msg-validation msgText="Rua é obrigatório."
        [showMsg]="verifyInvalidAndTouched('adress.street')">
        </app-msg-validation>
      </div>
  
    </div>
  
  
    <div class="form-group row">
  
      <div class="col-sm-5">
        <label for="district">Bairro</label><br>
        <input type="text" id="district" 
        formControlName="district"
        [ngClass]="addInvalidValueMessage('adress.district')"
        class="form-control" placeholder="Nome do Bairro"
        readonly >
      </div>
  
      <div class="col-sm-4">
        <label for="city">Cidade</label><br>
        <input type="text" id="city"
        formControlName="city"
        [ngClass]="addInvalidValueMessage('adress.city')"
        class="form-control" placeholder="Nome da Cidade"
        readonly>
      </div>
  
      <div class="col-sm-3">
        <label for="state">Estado</label><br>
        <input type="text" id="state"
        formControlName="state"
        [ngClass]="addInvalidValueMessage('adress.state')"
        class="form-control" placeholder="Nome do Estado"
        readonly >
      </div>
  
    </div>

  </div>




  <input type="submit" value="Submit" 
  class="btn btn-primary">

  <input type="button" value="Reset" 
  class="btn btn-info" (click)="resetForm()">

</form>