<!-- 
    Cria-se uma variavel local para fazer
  referência ao formulário. Para isso se utiliza o
  '#' seguido do nome que se deseja dar a variavel.
  Nesse caso ficará #myForm. 
    Essa variavel será atribuida ao ngForm. Fazendo
  isso o Angular passará a gerenciar esse formulário.
    Para submeter o formulario o evento ngSubmit é
  utilizado, atribuindo a ele um handler que será
  realizará o submit em si.
    O ngModel é utilizado para associar os elementos
  de input do formulário com a variavel definida para
  gerencia-lo, no caso atual a variavel myForm.
-->
<form #myForm="ngForm" (ngSubmit)="submitForm(myForm)"
 class="form-horizontal">

  <div class="form-group row">

    <div class="col-sm-12">
      <label for="name">Nome</label><br>
      <!-- Inicializando valores com [prop-binding] -->
      <!-- A classe .has-error será aplicada de acordo
      com o resultado da expressão boleana. -->
      <input type="text" name="name" id="name" 
      [ngModel] = "user.name"
      [ngClass]="addInvalidValueMessage(name)"
      class="form-control" placeholder="Digite o nome"
      required #name="ngModel">
    
      <!-- Verificando se o nome é inválido e
      se o elemento já teve focus. Caso sim, a mensagem
      será exibida. -->
      <app-msg-validation msgText="Nome é obrigatório."
      [showMsg]='verifyInvalidAndTouched(name)'>
      </app-msg-validation>

    </div>
  </div>

  <div class="form-group row">

    <div class="col-sm-12">    
      <label for="email">E-Mail</label><br>
      <!-- Inicializando valores com [prop-binding] -->
      <input type="email" name="email" id="email" 
      [ngModel] = "user.email"
      class="form-control" placeholder="nome@mail.com"
      required email #email="ngModel">

      <app-msg-validation msgText="E-mail é obrigatório."
      [showMsg]='verifyInvalidAndTouched(email)'>
      </app-msg-validation>
    </div>

  </div>
  
  
  <div ngModelGroup="adress">
    
    <div class="form-group row">
      
      <div class="col-sm-3">
        <label for="cep">CEP</label><br>
        <input type="text" name="cep" id="cep"
        [ngClass]="addInvalidValueMessage(cep)"
        #cep="ngModel" ngModel
        class="form-control" placeholder="xxxxx-xxx"
        required (blur)="fechtAdressByCep(cep.value, myForm)">
  
        <app-msg-validation msgText="CEP é obrigatório."
        [showMsg]='verifyInvalidAndTouched(cep)'>
        </app-msg-validation>
      </div>  
      
  
      <div class="col-sm-3">
        <label for="number">Numero</label><br>
        <input type="number" name="number" id="number"
        [ngClass]="addInvalidValueMessage(number)"
        #number="ngModel" ngModel
        class="form-control" placeholder="0"
        required>
  
        <app-msg-validation msgText="Numero é obrigatório."
        [showMsg]='verifyInvalidAndTouched(number)'>
        </app-msg-validation>
      </div>
  
      <div class="col-sm-6">
        <label for="compl">Complemento</label><br>
        <input type="text" name="compl" id="compl"
        #compl="ngModel" ngModel
        [ngClass]="addInvalidValueMessage(compl)"
        class="form-control" placeholder="Casa A"
        required>
  
        <app-msg-validation msgText="Complemento é obrigatório."
        [showMsg]='verifyInvalidAndTouched(compl)'>
        </app-msg-validation>
      </div>
      
    </div>
  
  
    <div class="form-group row">
      
      <div class="col-sm-12">
        <label for="street">Rua</label><br>
        <input type="text" name="street" id="street" 
        #street="ngModel" ngModel
        [ngClass]="addInvalidValueMessage(street)"
        class="form-control" placeholder="Nome da rua"
        required readonly>
      
        <app-msg-validation msgText="Rua é obrigatório."
        [showMsg]='verifyInvalidAndTouched(street)'>
        </app-msg-validation>
      </div>
  
    </div>
  
  
    <div class="form-group row">
  
      <div class="col-sm-5">
        <label for="district">Bairro</label><br>
        <input type="text" name="district" id="district" 
        #district="ngModel" ngModel 
        [ngClass]="addInvalidValueMessage(district)"
        class="form-control" placeholder="Nome do Bairro"
        required readonly >
      </div>
  
      <div class="col-sm-4">
        <label for="city">Cidade</label><br>
        <input type="text" name="city" id="city" 
        #city="ngModel" ngModel
        [ngClass]="addInvalidValueMessage(city)"
        class="form-control" placeholder="Nome da Cidade"
        required readonly>
      </div>
  
      <div class="col-sm-3">
        <label for="state">Estado</label><br>
        <input type="text" name="state" id="state" 
        #state="ngModel" ngModel 
        [ngClass]="addInvalidValueMessage(state)"
        class="form-control" placeholder="Nome do Estado"
        required readonly >
      </div>
  
    </div>

  </div>




  <!-- O submit é desabilitado caso o formulário
  não esteja em um estado de validação válido.
  Isso é feito utilizando um prop-bindig ligando
  a propriedade 'invalid' do formulário.-->
  <input type="submit" value="Submit" 
  class="btn btn-primary"
  [disabled]="myForm.invalid">
</form>