<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <a class="navbar-brand" href="#">Forms</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/template">Form - Template Driven</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/data">Form - Data Driven</a>
      </li>

    </ul>

  </div>
</nav>

<div class="container">

  <router-outlet></router-outlet>

</div>

